@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	--font-family: 'Comfortaa', serif;
	font-family: var(--font-family);
}

body {
	margin: 0;
	display: flex;
	background: transparent;
	max-height: 100dvh;
}
* {
	font-family: var(--font-family);
}

#root {
	flex-grow: 1;
	height: 100dvh;
	width: 100%;
}

* {
	-webkit-tap-highlight-color: transparent;
}

input,
button,
textarea {
	font-family: var(--font-family);
}

body .w-md-editor-text-pre > code,
body .w-md-editor-text-input {
	font-size: 16px !important;
	line-height: 19px !important;
}

@keyframes float {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0px);
	}
}
